sudo: required
services:
    - docker

before_install:
    - docker build -t cicdem/aspnetcoreapi .

script:
    - echo 'test'

deploy:
    provider: elasticbeanstalk
    region: "eu-west-1"
    app: "aspnetcoreapi"
    env: "Aspnetcoreapi-env"
    bucket_name: "elasticbeanstalk-eu-west-1-665873165779"
    bucket_path: "aspnetcoreapi"
    on:
        branch: master
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: "$AWS_SECRET_KEY"